
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <center><h1>Pozdrav!</h1></center>
    <center><h2><a href="~/Upis/index">klikni za nastavak</a></h2></center>
</body>
</html>
